
WPF_SmartCity_MathiasThomassen_201706287/.vs/WPF_SmartCity_MathiasThomassen_201706287/v15/Server/sqlite3/db.lock
WPF_SmartCity_MathiasThomassen_201706287/.vs/WPF_SmartCity_MathiasThomassen_201706287/v15/Server/sqlite3/storage.ide
WPF_SmartCity_MathiasThomassen_201706287/.vs/WPF_SmartCity_MathiasThomassen_201706287/v15/Server/sqlite3/storage.ide-shm
WPF_SmartCity_MathiasThomassen_201706287/.vs/WPF_SmartCity_MathiasThomassen_201706287/v15/Server/sqlite3/storage.ide-wal
