@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome fellow gardeners</h1>
    <p>This webapplication is for gartners, who need to add sensor, so other people can see them .</p>
</div>
